body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#gender{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3eab42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #243f26;
}

label {
    font-weight: bold;
}

h1 {
    color: #333;
    text-align: center;
    animation: myWords;
    animation-duration: 10s; /* Define how fast the animation will be */
    animation-iteration-count: 5; /* Define how many times the animation will be repeated */
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 1px black;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #FFC107;
}

p {
    color: darkgray;
}

.admin-login{
    display: block; /* Ensure link takes up full width */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center horizontally */
    width: fit-content; /* Adjust width to fit content */
}

table {
        width: 100%;
        border-collapse: collapse;
}

th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
}

.alert-danger {
    color: red;
    font-size: 15px;
}

@keyframes myWords{ /* This is the animation function */
    20%{color: rgb(255, 0, 128);}
    40%{color: rgb(225, 0, 255);}
    60%{color: rgb(64, 0, 128);}
    80%{color: blue;}
    100%{color: rgb(0, 124, 128);}
    }
